.html{
    height: 100%;
}

.body{
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.css-navbar{
    background-color: #161616;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.05),inset 0 -1px 0 rgba(0,0,0,.1);
    min-height: 120px;
}

.css-navbar-brand{    
    font-family: sans-serif;
    font-size: 22px;         
    font-weight: 550;
    line-height: 31px;
    /* letter-spacing: 0.1pt; */
}

.css-navbar-items{
    line-height: 30px;
    font-size: 14px;
}

.css-vision-part1{
    display: flex;
    font-family: sans-serif;    
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;    
    /* width: 100%;     */
    background-color: #F2B28A;
    color: #161616;
    font-size: 15px;
    line-height: 28px;
    padding-left: 40px;        
    padding-right: 40px;     
}

.css-vision-part1-heading{
    color: black;
    line-height:54px;
    font-size: 50px;
    margin-bottom: 50px;
}

.css-vision-part2{
    padding-left: 0px;
    padding-right: 0px;
}

.css-vision-part1-text{
    font-size: 18px;
    /* padding: 0px 30px; */
}


.css-row{
    padding: 48px;
    width: 100%; 
    margin-left: 0px;
    margin-right: 0px;
}

.css-contact{    
    background-color: #161616;
    text-align: center;
    color: whitesmoke;
}

.css-rental-title{
    padding-top: 100px;
    font-size: 40px;
    font-family: sans-serif;
    line-height: 54px;    
    text-align: center;
    color: #F8CFA9;
}
.css-rental-subtitle{
    font-family: 'Dancing Script', cursive;;
    font-size: 23px;
    line-height: 32px;
    padding-top: 20px;
}

/* Tablet */
@media (max-width: 991px) and (min-width: 765px){
    .css-moments-header{
        font-size: 54px;
        padding: 0px 60px;
    }
    
    .css-moments-text{
        padding: 20px 30px;
    }
    .css-vision-part1{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 60px;
        padding-bottom: 60px;        
        height: 400px;

    }


    .css-vision-part1-heading{
        font-size: 40px;
        margin:0px;
    }

    .css-vision-part1-text{
        font-size: 18px;
    }

    .css-vision-image{
        height: 400px;
    }

    .css-row{
        padding: 0px;
        margin-left:0px;
        margin-right:0px;
        /* align-items: center; */
    }

    .css-vision-part2{
        padding-left: 0px;
        padding-right: 0px;

    }

    .css-past-events{
        margin-bottom: 10px;
        padding: 0px 2px;
    }

    .css-carousel-para{
        padding-left: 80px;
        padding-right: 80px;
    }
}

/* Mobile Phone */
@media (max-width: 764px){  
    .css-vision-image{
        height: 30px 0px;        
    }    

    .css-moments-header{
        padding: 0px 30px;
        font-size: 54px;
        line-height: 70px;
        margin-top: -80px;
    }

    .css-moments-text{
        padding: 30px 20px;        
        
    }

    .css-vision-part1{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 60px;
        padding-bottom: 60px;        
    }

    .css-row{
        padding: 0px;
    }

    .css-vision-part2{
        padding-right: 0px;
    }
}